# =========================
# Mosquitto (MQTT broker)
# =========================
broker-data/
broker-log/
broker-data/mosquitto.db
broker-data/*.db

# =========================
# InfluxDB
# =========================
influxdb/data/
influxdb/wal/
influxdb/meta/

# =========================
# Grafana
# =========================
grafana/
grafana.db

# =========================
# Docker
# =========================
*.pid
*.log
*.tmp

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
